.App {
    padding-top: 3em;
    background-color: #424242;
    text-align: center;
}

header{
    margin: 200px;
}

h1 {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.7em;
}

.main-header {
    border-top: 10px solid rgba(#888888, 0.5);
}

.main-component {
  padding-top: 25px;
  border-bottom: 2px solid #424242;
  margin-bottom: 30px;
}

.footer-p {
    color: whitesmoke;
}

.film-category {
    color: #F65261;
    font-size: 30px;
    margin: 5,5,5,5;
    padding: 5,5,5,5;
    background-color: #424242;
}

.item {
    margin: 10,10,10,10;
    padding: 10,10,10,10;
}

h3 {
    color: snow;
    transform-style: preserve-3d;
    font-style: oblique 40deg;
    font-family: 'Monotype Corsiva';
    font-size: 30px;
}

p {
    color-scheme: inherit;
    color: lightcoral;
    font-size: 20px;
    padding: 10,10,10,10;
}

.add-movie-button{
    background: rgba(96, 96, 96, 0.68);
    color: #f65261;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 16px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    top: 20px;
    right: 20px;
    position: absolute;
}
