.movie-card {
    width: 100%;
    padding: 5px;

    display: block;
	border: 1px solid #b5e9a7;
	position: relative;
	margin: 0 20px 20px 0;
	text-decoration: none;
    text-align: center;
	color: #474747;
	height: 100%;
}

.movie-card-menu {
    display: none;
    top: 10px;
    right: 10px;
    position: absolute;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.movie-card:hover .movie-card-menu {
    display: inline-block;
}

.movie-menu-list {
    list-style: none;
    display: none;
    top: 80px;
    right: 10px;
    font-size: 16pt;
    position: absolute;
    color: #424242;
}

.movie-card-menu:hover + .movie-menu-list {
    display: block;
    box-shadow: 1px 5px 10px #F65261;
}

.movie-menu-item {
    margin: 5px;
    padding: 5px;
    border: #424242 1px;
}

img {
    width: 90%;
    height: 90%;
}